#map {
  height: 100vh;
}

.cluster-div {
  background-color: burlywood;
  opacity: 50%;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;

  box-shadow: 0 0 0px 4px;

  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.tooltip-container {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.tooltip-name {
  color: rgb(90, 90, 90);
  text-transform: uppercase;
}

/* .tooltip-name {
  margin: 0;
} */
.leaflet-popup-content {
  padding: 0.3rem;
}
/* .leaflet-popup-content p {
  margin: 0;
} */
